
<div class="homepage">



    <div id="menu-bar">
        <ul id="menu">
          <li><a href="#" class="menu-bar">COURSES</a></li>
          <li><a href="#" class="menu-bar">ABOUT</a></li>
          <li><a href="#" class="menu-bar">HOME</a></li>
        </ul>
    </div>    
    <div class="content">
        <h1 id="content-h">WE ENSURE BETTER EDUCATION<br><br>FOR A BETTER WORLD</h1>
        <p id="content-p">In the history of modern astronomy, there is probably no one greater leap forward than the building and<br> launch of the space telescope known as the Hubble.</p><br>
        <button (click)="onclick()" id="content-b">GET STARTED</button>
    </div>
    
      

<div class="lastline">
    
        <h2 id="h2">Popular Courses we offer</h2>
        <p id="end">There is a moment in the life of any aspiring</p>
    
</div> 
</div>



  
