
<div class="forgetform">
<div class="container">
    <div class="title">
      <p class="log">Reset Password</p>
    </div>

    <div class="words"> Enter your login Email & We'll<br>send you a link to reset your password</div>
    <div class="middle">
      <form (ngSubmit)="onSubmit()" [formGroup]="forgetform">

      <div class="form-group">
        <label for="name">Email:</label>
        <input class="form-control" type="text" placeholder="example@mail.com" formControlName="email" required>
        <span  *ngIf="(forgetform.controls['email'].invalid || submitted) && forgetform.controls['email'].touched"  class="error" ><mat-icon class="icon">info</mat-icon><span>&#42; </span>Email is required</span>
      </div>
        <!-- <div class="error" *ngIf = "submitted && forgetform.controls['email'].invalid">
          <span class="error" *ngIf="forgetform.controls['email'].required && forgetform.controls['email'].touched">Email is Required</span>
          
</div> -->


        
      <button  [disabled]="forgetform.invalid" class="btn" type="submit" >Reset</button>
    
  </form>
</div>
</div></div>