<div class="changeform">

  <div class="container">

    <div class="title">
      <p class="log">Set New Password</p>
    </div>

    <form [formGroup] = "changeform">

    <div class="middle">

       <div class="form-group">
        <label >Old Password:</label>
        <input class="form-control"  [type]="hide ? 'password' : 'text'" placeholder="Old Password" formControlName="oldPassword" required>

        <button class="eyeicon" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <span *ngIf="changeform.controls['oldPassword'].errors?.['required'] && changeform.controls['oldPassword'].touched" class="error">Password is required.</span>
        
      </div>  


     <div class="form-group">
      <label >New Password:</label>

     <input  class="form-control" type="{{ showNewPassword ? 'password' : 'text' }}" placeholder="Enter your password" formControlName="newPassword" required>
     
     <button class="eyeicon" mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()">
      <mat-icon>{{ showNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
    </button>


        <span *ngIf="changeform.controls['newPassword'].errors?.['required'] && changeform.controls['newPassword'].touched" class="error">Password is required..</span>
        <span *ngIf="changeform.controls['newPassword'].errors?.['pattern'] && changeform.controls['newPassword'].touched" class="error">Password should be in correct format</span>
           
    </div> 

    <div class="form-group">
      <label>Confirm Password:</label>
        <input class="form-control" [type]="hide1 ? 'password' : 'text'" placeholder="Confirm Password" formControlName="confirmPassword" required>
      
      
        <button class="eyeicon" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
          <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

        <span *ngIf="changeform.controls['confirmPassword'].errors?.['required'] && changeform.controls['confirmPassword'].touched" class="error">Re-Enter the Password.</span>
        <span *ngIf="changeform.controls['confirmPassword'].errors?.['mustMatch'] && changeform.controls['confirmPassword'].touched" class="error">Password do not match.</span>

        
     
     
        </div>   

         
        
      <button [disabled]="changeform.invalid" (click) = "onClick()" class="btn" type="submit">Submit</button>
    
    
    </div>


    
  </form>
</div>
</div> 
